.body{
  font-family: 'Armata';
  /*max-width: 400px;*/
  max-width: 70%;
 /* margin: 0 auto;*/
 /* margin-top: 60px; */
  background: url(coffee.jpg) no-repeat center left fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

.content{
  font-family: 'Armata';
  max-width: 100%;
  background: url(coffee.jpg) no-repeat center left fixed;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

.main{
  margin-left: 3px;
  background: #f2f5f1;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.Menupage-title{
  font-size: 40px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 12px;
  color: #453C52;
}

.Add-Menu{
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 22px;
  margin-right: 10px;
}

.AddMenu-txt{

  border-radius: 5px;
  margin-right: 20px;
  border: 1px solid #BFB8CC;
  color: #726A7E;
  padding: 6px 12px;
  font-size: 14px;
}


.AddMenu-button{
  padding: 7px 22px;
  background-color: #48BB78;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #48BB78;
}


.menu_list{
  text-decoration: none;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  border-bottom: 1px dashed #bbb;
  font-family: 'Atma';
  padding: 0.175em 0 0.075em 0.5em;
  margin-bottom: 10px;
  width: 50%;
}

.menu_list:hover {background: rgb(161, 158, 158);
}

.zag {
  background: url(http://www.twentyandsix.com.au/wp-content/themes/twentyandsix/img/zag@2x.png);
  background-size: 10px 7px;
  -webkit-min-device-pixel-ratio: 2;
  max-width: -webkit-fill-available;
  /*width: 100%;
  top: auto;
  height: 7px;
  z-index: 99;
  position: fixed;
  margin-left: 3px;
*/
}
.order-item{
  /*background: #F1EDF7;*/
  border-radius: 4px;
  /*width: 190px;*/
  margin-left: 19px;
  /*display: flex;*/
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453C52;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-checkbox{
  width: 16px;
  height: 16px;
  border: 2px solid #BFB8CC;
  background-color: #FFFFFF;
}

.btn{
  border-radius: 7px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btn:hover {
background-color: rgb(133, 240, 133);
}

.collapsible {

 color: #453C52;
  cursor: pointer;
  padding: 18px;
  /*width: 20%;*/
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.updatecontent {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-top: 10px;
  /*padding: 10px 10px;*/
  border-color: plum;
}

.pad{
  padding: 10px 10px;
}

/*.active, .collapsible:hover {
  background-color: #555;
}*/

.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 4    00px;
  overflow: hidden;
  background-color: #333;
}

.navli {
  float: left;
}

.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navli a:hover:not(.active) {
  background-color: #111;
}

.navli .active {
  background-color: gray;
}

/* in admin page */
.MyMenuItem-Container {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: #453C52;
  padding: 1px 6px;
}

.delete {
  margin-left: 8px;
  opacity: 0.3;
}

.delete:hover {
  margin-left: 8px;
  opacity: 1.0;
}
